.cart-shop {
  position: fixed;
  inset: 0;
  z-index: 10;
  will-change: auto;
  transition: visibility 400ms ease;
}

.cart-shop.visible {
  visibility: visible;
  pointer-events: auto;
}

.cart-shop.hidden {
  visibility: hidden;
  pointer-events: none;
}

.cart-wrapper {
  position: relative;
  display: flex;
  align-items: start;
  justify-content: end;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  backdrop-filter: blur(0px);
  will-change: auto;
  transition: background-color 300ms ease, backdrop-filter 300ms ease;
}

.cart-wrapper.opened {
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
}

.cart-shopping {
  position: fixed;
  top: 8px;
  right: 8px;
  z-index: 20;
}

.cart-shopping--btn {
  width: 36px;
  height: 36px;
  margin: 0;
  padding-block: 4px;
  padding-inline: 8px;
  color: #6192fb;
  background-color: #efefef;
}

.cart-shopping--btn.cart-shopping--open {
  color: #efefef;
  background-color: #6192fb;
}

.cart-shopping--btn svg {
  width: 100%;
  height: 100%;
}

.cart-content {
  width: 100%;
  max-width: 90vw;
  height: 100%;
  padding-block: 52px 40px;
  padding-inline: 24px;
  background-color: #0f0f0f;
  transform-origin: right;
  transform: translateX(100%);
  will-change: transform;
  transition: transform 280ms ease 0ms;
  z-index: 10;
}

@media screen and (min-width: 640px) {
  .cart-content {
    max-width: 80vw;
  }
}


@media screen and (min-width: 1040px) {
  .cart-content {
    max-width: 400px;
  }
}

.cart-content.cart-open {
  transform: translateX(0%);
  transition-delay: 100ms;
}

.cart-content--list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  list-style: none;
}

.cart-content--item {
  width: 100%;
  max-width: 100%;
  padding-block: 12px;
  padding-inline: 12px;
  border-radius: 6px;
  background-color: rgba(0, 0, 0, 0.8);
}