.footer-main {
  position: fixed;
  left: 16px;
  bottom: 16px;
  text-align: left;
  background-color: rgba(0, 0, 0, 0.7);
  padding-block: 8px;
  padding-inline: 24px;
  border-radius: 32px;
  opacity: 0.95;
  backdrop-filter: blur(8px);
}