@tailwind base;
@tailwind components;
@tailwind utilities;
/*  */
/* __DEVJOBS_WEB_INDEX_CSS__ */
:root {
	/* color-scheme: light dark; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
	@apply bg-white dark:bg-primary-400;
	margin: 0;
}

#root {
	width: 100%;
	max-width: 100vw;
	margin-inline: auto;
}

/* @media (prefers-color-scheme: light) {
	
} */
