.jd-head {
  text-align: center;
}

.jd-head--title {
  margin-block: 0 32px;
  line-height: 1;
}

.jd-head--form {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  justify-content: center;
  column-gap: 16px;
  row-gap: 12px;
  max-width: 540px;
  margin-inline: auto;
}

.jd-form--box {
  flex-grow: 1;
  flex-basis: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
}

.jd-form--error {
  margin-block-start: 4px;
  text-align: left;
  letter-spacing: -0.01em;
  font-size: 12px;
  font-style: italic;
  color: #ef233c;
  opacity: 0;
  visibility: hidden;
  will-change: opacity, visibility;
  transition: opacity 280ms ease, visibility 300ms ease;
}

.jd-form--error.error-input {
  opacity: 1;
  visibility: visible;
}

.jd-form--label,
.jd-form--label input,
.jd-form--btn {
  margin-block: 0;
}

.jd-form--label.label-text {
  flex-grow: 0;
  flex-basis: 50%;
}

.jd-form--label.label-checkbox {
  display: flex;
  align-items: center;
  justify-content: start;
  font-size: 12px;
}

.jd-form--label.label-checkbox span {
  margin-inline-end: 8px;
}

.jd-form--label.label-text input {
  width: 100%;
}

.jd-form--input {
  border: 1px solid transparent;
  will-change: auto;
  transition: border 300ms ease, outline 300ms ease;
}

.jd-form--input.error-input {
  border-color: #ef233c;
  outline: 1px solid #ef233c;
}

.jd-form--btn {
  margin: 0;
}

.jd-form--btn.btn-submit {
  flex-grow: 1;
  flex-basis: 200px;
}