.jd-movies {
  max-width: 90vh;
  margin-inline: auto;
}

@media screen and (min-width: 840px) {
  .jd-movies {
    max-width: 1080px;
  }
}

.jd-movies--wrong {
  width: 100%;
  text-align: center;
  font-size: 16px;
  font-style: italic;
}

.jd-list-movies {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  column-gap: 20px;
  row-gap: 24px;
  list-style: none;
}

.jd-movie {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
  justify-items: center;
  max-width: 100%;
  height: 100%;
  text-align: center;
}

.jd-movie--poster {
  width: fit-content;
  max-width: 100%;
  max-height: 280px;
  background-color: rgba(43, 45, 66, 0.6);
  overflow: hidden;
  border-radius: 8px;
}

.jd-movie--poster.poster-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 160px;
  max-height: fit-content;
}

.jd-movie--poster.poster-box span {
  text-transform: uppercase;
  font-size: 12px;
  font-style: italic;
  letter-spacing: -0.02em;
}

.jd-movie--poster img {
  max-width: inherit;
  height: 100%;
  object-fit: contain;
  object-position: center;
  overflow: hidden;
  border-radius: 8px;
}

.jd-movie--info h2 {
  margin-block: 4px 0;
  font-size: 16px;
  font-weight: 600;
}

.jd-info--specf {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 8px;
}

.jd-info--type,
.jd-info--year {
  text-transform: capitalize;
  font-size: 12px;
  font-weight: 600;
}